<%- include("../../views/partials/user/header") %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f5f5f5;
    }
    .sidebar {
      background-color: #fff;
      padding: 20px;
      height: 100vh;
    }
    .sidebar .nav-link {
      color: #333;
      margin: 10px 0;
    }
    .sidebar .nav-link.active {
      color: #46698f;
      font-weight: bold;
    }
    .profile-section {
      padding: 30px;
      border: 1px solid #ddd;
    }
    .profile-card {
      background-color: #fff;
      border-radius: 8px;
      padding: 30px;
    }

    .profile-icon {
      font-size: 1.3rem;
      margin-right: 10px;
    }
    .right-arrow {
      float: right;
    }
    .profile-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
      margin: 0 auto 10px;
    }
    .profile-upload {
      font-size: 0.875rem;
      text-align: center;
    }
    .removeProfileImage {
      text-decoration: none;
    }

    .removeProfileImage:hover {
      text-decoration: underline;
    }
    .pwdbtn{
        background-color: #46698f;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }
    .pwdbtn:hover{
        background-color: #2b6eb5;
        color: #fff;
    }
 
    
  </style>


  <div class="breadcrumb fw-medium ml-5 mt-3">
    <a href="/">Home</a> &gt;
            <span>Profile</span> &gt;
            <span><%=user.name%></span>
  </div>
 <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 sidebar">
        <div class="text-center mb-4">
           <img src="<%=user.profileImage%>" alt="Profile Image" class="profile-image">
          <h5>Hello <%=user.name%></h5>
          <p class="text-muted"><%=user.email%></p>
        </div>
        <nav class="nav flex-column">
          <h6 class="ml-3 fw-bold">ACCOUNT SETTINGS</h6>
          <a class="nav-link sidebar-link active" href="#" data-target="profileSection"><i class="fa fa-user-circle"></i> Profile details</a>
          <a class="nav-link sidebar-link" href="#" data-target="addressSection"><i class="fa-solid fa-address-card"></i> Manage Address</a>
          <h6 class="mt-4 ml-3 fw-bold">MY STUFFS</h6>
          <a class="nav-link sidebar-link" href="#" data-target="orderSection"><i class="fa fa-box"></i> My Orders</a>
          <a class="nav-link sidebar-link" href="#" data-target="couponSection"><i class="fa fa-box"></i> My Coupons</a>
          <a class="nav-link sidebar-link" href="#" data-target="walletSection"><i class="fa fa-wallet"></i> My Wallet</a>
          <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i>  Logout</a>
        </nav>
      </div>

      <!-- Profile content -->
      <div class="col-md-9 profile-section content-section" id="profileSection">
        <div class="profile-card">
            <div class="d-flex align-content-center justify-content-between">
                <h4>Profile details</h4> 
                <a class="nav-link text-primary" href="#" data-bs-toggle="modal" data-bs-target="#editProfileModal"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            </div>
          <div class="py-3 border-top">
            <p><i class="fa fa-id-badge profile-icon"></i><b>Name : </b><%=user.name%></p>
          </div>
          <div class="py-3 border-top">
            <p><i class="fa fa-mobile-alt profile-icon"></i><b>Phone : </b><%=user.phone%></p>
          </div>
          <div class="py-3 border-top">
            <p><i class="fa fa-envelope profile-icon"></i><b>E-mail : </b><%=user.email%></p>
            <div class="mt-5 pl-5">
                <a href="/change-email" class="btn btn-sm ml-2 pwdbtn">Change Email</a>
                <a href="/change-password" class="btn btn-sm ml-5 pwdbtn">Change Password</a>
            </div>
          </div>
        </div>

                  <!-- Edit Profile Modal -->
          <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <form class="modal-content" id="editProfileForm" method="POST" action="/editProfile?id=<%= user._id %>" enctype="multipart/form-data">
                <div class="modal-header">
                  <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3 text-center">
                    <% const defaultProfileImage = '/img/defaultProfileImage.jpg'; %>
                    <img id="previewImage" src="<%= user.profileImage && user.profileImage !== '' ? user.profileImage : defaultProfileImage %>" class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;" alt="Profile Image">
                  </div>
                  <div class="text-end">
                    <a href="" class="removeProfileImage text-danger text-decoration-none">Remove Profile Image</a>
                  </div>
                  <input type="hidden" name="removeImage" id="removeImageInput" value="false">
                  <div class="mb-3">
                    <label for="editName" class="form-label">Profile Image</label>
                    <input type="file" class="form-control mt-2" id="editProfileImage" name="profileImage" accept="image/*">
                  </div>
                  <div class="mb-3">
                    <label for="editName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="editName" name="name" value="<%= user.name %>">
                  </div>
                  <div class="mb-3">
                    <label for="editPhone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="editPhone" name="phone" value="<%= user.phone %>">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
      </div>


            <!-- Manage Address Section (Initially Hidden) -->
      <div class="col-md-9 profile-section content-section" id="addressSection" style="display: none;">
        <div class="profile-card">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Manage Address</h4>
            <a href="/addAddress">
            <button class="btn btn-sm pwdbtn" data-bs-toggle="modal" data-bs-target="#addAddressModal">
              <i class="fa fa-plus"></i> Add Address
            </button>
            </a>
          </div>
          <% if (userAddresses && userAddresses.length > 0) { %>
            <% userAddresses.forEach(( address, index) => { %>
              <div class="border p-3 mb-3 rounded">
                <p><strong><u><%= address.addressType %></u></strong></p>
                <p><b><%= address.name %></b><br><%= address.houseName %>,<br><%= address.streetName %>,<br><%= address.landMark %>,<br><%= address.city %> - <%= address.pincode %>,<br><%= address.state %>,<br>Phone no: <%= address.phone %>,<br>Alternate Phone no: <%= address.altPhone %></p>
                <div class="text-end">
                  <button class="btn btn-sm btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editAddressModal<%= index %>"><i class="fa fa-pen"></i></button>
                  <form method="POST" action="/deleteAddress?id=<%= address._id %>" class="d-inline" onsubmit="return confirmDelete()">
                    <button class="btn btn-sm btn-outline-danger" type="submit"><i class="fa fa-trash"></i></button>
                  </form>
                </div>
              </div>

              <!-- Edit Address Modal -->
              <div class="modal fade" id="editAddressModal<%= index %>" tabindex="-1">
                <div class="modal-dialog">
                  <form class="modal-content" method="POST" action="/editAddress?id=<%= address._id %>">
                    <div class="modal-header">
                      <h5>Edit Address</h5>
                      <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                       <div class="mb-2">
                        <label for="addressType<%= index %>" class="form-label fw-bold">Address Type</label>
                        <input type="text" id="addressType<%= index %>" class="form-control" name="addressType" value="<%= address.addressType %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="name<%= index %>" class="form-label fw-bold">Name</label>
                        <input type="text" id="name<%= index %>" class="form-control" name="name" value="<%= address.name %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="houseName<%= index %>" class="form-label fw-bold">House Name/no:(or Work Place)</label>
                        <input type="text" id="houseName<%= index %>" class="form-control" name="houseName" value="<%= address.houseName %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="streetName<%= index %>" class="form-label fw-bold">Street Name</label>
                        <input type="text" id="streetName<%= index %>" class="form-control" name="streetName" value="<%= address.streetName %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="landMark<%= index %>" class="form-label fw-bold">Landmark</label>
                        <input type="text" id="landMark<%= index %>" class="form-control" name="landMark" value="<%= address.landMark %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="city<%= index %>" class="form-label fw-bold">City</label>
                        <input type="text" id="city<%= index %>" class="form-control" name="city" value="<%= address.city %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="pincode<%= index %>" class="form-label fw-bold">Pincode</label>
                        <input type="text" id="pincode<%= index %>" class="form-control" name="pincode" value="<%= address.pincode %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="state<%= index %>" class="form-label fw-bold">State</label>
                        <input type="text" id="state<%= index %>" class="form-control" name="state" value="<%= address.state %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="phone<%= index %>" class="form-label fw-bold">Phone</label>
                        <input type="text" id="phone<%= index %>" class="form-control" name="phone" value="<%= address.phone %>" required>
                      </div>

                      <div class="mb-2">
                        <label for="altPhone<%= index %>" class="form-label fw-bold">Alternate Phone</label>
                        <input type="text" id="altPhone<%= index %>" class="form-control" name="altPhone" value="<%= address.altPhone %>" required>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            <% }) %>
          <% } else { %>
            <p class="text-muted">No addresses found.</p>
          <% } %>
        </div>
      </div>


    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const sidebarLinks = document.querySelectorAll(".sidebar-link");
    const contentSections = document.querySelectorAll(".content-section");

    sidebarLinks.forEach(link => {
      link.addEventListener("click", function (e) {
        e.preventDefault();

        const targetId = this.getAttribute("data-target");

        contentSections.forEach(section => {
          section.style.display = "none";
        });

        sidebarLinks.forEach(link => link.classList.remove("active"));

      
        const targetSection = document.getElementById(targetId);
        if (targetSection) {
          targetSection.style.display = "block";
        }

        this.classList.add("active");
      });
    });

    document.querySelector('[data-target="profileSection"]').click();
  });
</script>

<script>
  function confirmDelete() {
    return confirm("Are you sure you want to delete this address?");
  }
</script>
<script>
  const defaultProfileImage = "/img/defaultProfileImage.jpg";

  // Preview the uploaded profile image
  const imageInput = document.getElementById("editProfileImage");
  const previewImage = document.getElementById("previewImage");
  const removeImageInput = document.getElementById("removeImageInput");
  const removeButton = document.getElementById("removeImageBtn");

  imageInput?.addEventListener("change", function (event) {
    const file = event.target.files[0];
    if (file) {
      previewImage.src = URL.createObjectURL(file);
      removeImageInput.value = "false"; // Do not remove if new image selected
    }
  });

  // Reset image to default on "Remove" button click
  removeButton?.addEventListener("click", function (event) {
    event.preventDefault(); // Prevent default anchor behavior if it's an <a>
    previewImage.src = defaultProfileImage;
    imageInput.value = ""; // Clear the file input
    removeImageInput.value = "true"; // Mark for removal
  });
</script>




<%- include("../../views/partials/user/footer") %>





