<%- include("../../views/partials/user/header") %>
<style>
 .main-container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
 }
 .shop-topbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
 }

 .search-form {
   display: flex;
   align-items: center;
   background-color: #f1f1f1;
   border-radius: 25px;
   overflow: hidden;
   max-width: 250px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 }

 .search-input {
   flex: 1;
   padding: 8px 10px;
   font-size: 14px;
   border: none;
   outline: none;
   background-color: transparent;
 }

 .search-button {
   padding: 8px 15px;
   background-color: #1e918b;
   color: #fff;
   border: none;
   cursor: pointer;
   font-size: 14px;
   border-radius: 15px;
   margin-right: 5px;
   transition: background-color 0.3s, transform 0.2s;
 }

 .search-button:hover {
   background-color: #0056b3;
   transform: scale(1.05);
 }
 .sort-dropdown {
  display: flex;
  align-items: center;
  gap: 1rem; /* space between heading and links */
}

.sort-dropdown h6 {
  margin: 0; /* remove default margin */
}

.sort-dropdown .dropdown {
  list-style: none; /* remove bullets */
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.sort-dropdown .dropdown li {
  display: inline; /* inline list items */
}

.sort-dropdown .dropdown a {
  text-decoration: none;
  color: #333;
  padding: 0.25rem 0.5rem;
  transition: color 0.3s;
}

.sort-dropdown .dropdown a:hover {
  color: #007BFF;
}

 .sidebar {
   padding: 20px;
   border: 1px solid #ddd;
   background-color: #f9f9f9;
   border-radius: 8px;
   margin-bottom: 20px;
   width: 250px;
   text-align: center;
 }

 .filter-section {
   margin-bottom: 20px;
 }

 .filter-title {
   font-weight: bold;
   margin-bottom: 10px;
   font-size: 18px;
   color: #ca487a;
 }

 .filter-item {
   margin: 5px 0;
   list-style-type: none;
 }

 .filter-item a {
   text-decoration: none;
   color: #333;
 }

 .filter-item a:hover {
   color: #007bff;
 }

 .product-list-container {
   display: flex;
   gap: 20px;
 }

 .product-grid {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   width: calc(100% - 270px);
 }

 .product-card {
   width: calc(33.333% - 20px);
   border: 1px solid #ddd;
   padding: 15px;
   border-radius: 8px;
   text-align: center;
   position: relative;
 }

 .product-card img {
   max-width: 100%;
   height: auto;
   border-radius: 5px;
 }

 .wishlist-btn {
   position: absolute;
   top: 8px;
   right: 8px;
   background-color: rgba(237, 247, 247, 0.8);
   color: #fff;
   padding: 8px;
   border-radius: 50%;
   cursor: pointer;
 }

 .add-to-cart-btn {
   background-color: #46698f;
   color: #fff;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   width: 100%;
   margin-top: 10px;
 }

 .pagination {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin: 20px 0;
 }

 .pagination a {
   padding: 8px 12px;
   background-color: #f0f0f0;
   border: 1px solid #ddd;
   color: #333;
   text-decoration: none;
 }

 .pagination .active {
   background-color: #007bff;
   color: #fff;
 }

 .price-filter {
   padding: 10px;
   background-color: #f9f9f9;
   border-radius: 8px;
   margin-top: 20px;
 }

 .price-filter .price-options {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 .price-button {
   padding: 12px 20px;
   background-color: #f1f1f1;
   color: #333;
   border: 1px solid #ddd;
   border-radius: 30px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.2s;
   text-align: center;
   font-size: 14px;
 }

 .price-button:hover {
   background-color: #007bff;
   color: white;
   transform: scale(1.05);
 }

 .price-button:active {
   transform: scale(0.95);
 }

 .category-brand-container {
   text-align: center;
 }

 .truncated-text {
  white-space: nowrap;         
  overflow: hidden;            
  text-overflow: ellipsis;    
  display: block;
  max-width: 230px;         
  cursor: pointer;
}

</style>

<div class="main-container">
 <section class="shop-page container">
   <div class="shop-topbar">
      <div class="search-bar">
        <form action="/shop" method="GET" class="search-form">
          <input type="text" name="search" value="<%= search || '' %>" placeholder="Search items..." class="search-input" />
          <% if (selectedCategory) { %>
            <input type="hidden" name="category" value="<%= selectedCategory %>">
          <% } %>
          <% if (selectedBrand) { %>
            <input type="hidden" name="brand" value="<%= selectedBrand %>">
          <% } %>
          <% if (priceGreaterThan) { %>
            <input type="hidden" name="gt" value="<%= priceGreaterThan %>">
          <% } %>
          <% if (priceLesserThan) { %>
            <input type="hidden" name="lt" value="<%= priceLesserThan %>">
          <% } %>
          <% if (sortType) { %>
            <input type="hidden" name="sortType" value="<%= sortType %>">
        <% } %>
          <button type="submit" class="search-button">Search</button>
        </form>
      </div>
      <div class="sort-dropdown">
        <h6>Sort by: </h6>
         <ul class="dropdown">
            <li><a href="/shop?sortType=lowToHigh<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %><% if (search) { %>&search=<%= search %><% } %><% if (priceGreaterThan) { %>&gt=<%= priceGreaterThan %><% } %><% if (priceLesserThan) { %>&lt=<%= priceLesserThan %><% } %>">Price: Low to High</a></li>
            <li><a href="/shop?sortType=highToLow<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %><% if (search) { %>&search=<%= search %><% } %><% if (priceGreaterThan) { %>&gt=<%= priceGreaterThan %><% } %><% if (priceLesserThan) { %>&lt=<%= priceLesserThan %><% } %>">Price: High to Low</a></li>
            <li><a href="/shop?sortType=AaToZz<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %><% if (search) { %>&search=<%= search %><% } %><% if (priceGreaterThan) { %>&gt=<%= priceGreaterThan %><% } %><% if (priceLesserThan) { %>&lt=<%= priceLesserThan %><% } %>">Name: Aa–Zz</a></li>
            <li><a href="/shop?sortType=ZzToAa<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %><% if (search) { %>&search=<%= search %><% } %><% if (priceGreaterThan) { %>&gt=<%= priceGreaterThan %><% } %><% if (priceLesserThan) { %>&lt=<%= priceLesserThan %><% } %>">Name: Zz–Aa</a></li>                     
          </ul>
      </div>

   </div>
  
   <div class="product-list-container">
     <aside class="sidebar">
       <div class="filter-section">
         <div class="filter-title">Categories</div>
         <div class="category-brand-container">
           <ul>
            <%for(let i=0;i<category.length;i++){%>
               <li class="filter-item">
                 <a href="/shop?category=<%=category[i]._id%><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %>"><%= category[i].name %></a>
               </li>
               <%}%>
           </ul>
         </div>
       </div>

      
       <div class="filter-section">
         <div class="filter-title">Brands</div>
         <div class="category-brand-container">
           <ul>
             <%for(let i=0;i<brand.length;i++){%>
               <li class="filter-item">
                 <a href="/shop?brand=<%=brand[i]._id%><% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %>"><%=brand[i].brandName%></a>
               </li>
               <%}%>
           </ul>
         </div>
       </div>

      
       <div class="price-filter">
         <div class="filter-title">Filter by Price</div>
         <form id="price-filter-form">
           <div class="price-options">
             <a href="/shop?gt=0&lt=500<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %>"><button type="button" class="price-button">Under ₹500</button></a>
             <a href="/shop?gt=500&lt=1000<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %>"><button type="button" class="price-button">₹501 - ₹1000</button></a>
             <a href="/shop?gt=1000&lt=1500<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %>"><button type="button" class="price-button">₹1001- ₹1500</button></a>
             <a href="/shop?gt=1500&lt=1000000<% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %>"><button type="button" class="price-button">Above ₹1500</button></a>
           </div>
         </form>
       </div>
     </aside>

     <main class="product-grid">
      <% if (products && products.length > 0) { %>
        <%for(let i=0;i<products.length;i++){%>
         <div class="product-card">
           <span class="wishlist-btn" onclick="addToWishlist('<%=products[i]._id%>')">❤️</span>
           <a href="/productdetails?id=<%=products[i]._id%>&from=shop">
             <img src="/uploads/re-image/<%=products[i].productImage[0]%>" alt="/<%=products[i].productName%>" />
             <h4 class="truncated-text" title="<%= products[i].productName %>"><%=products[i].productName%></h4>
             <p>Brand:<%=products[i].brand%></p>
             <p>Price ₹<%=products[i].salePrice.toLocaleString('en-IN')%><span class="text-muted"><strike>₹<%=products[i].regularPrice.toLocaleString('en-IN')%></strike></span></p>
           </a>
           <button class="add-to-cart-btn" onclick="">Add to Cart</button>
         </div>
         <%}%>
         <% } else { %>
        <div class="col-12">
          <p class="text-danger">No products found.</p>
        </div>
      <% } %>
     </main>
   </div>

<!-- Pagination -->
  <div class="pagination">
     <% if (currentPage > 1) { %>
       <a class="btn" href="/shop?page=<%= currentPage - 1 %><% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %><% if (priceGreaterThan) { %>&gt=<%= priceGreaterThan %><% } %><% if (priceLesserThan) { %>&lt=<%= priceLesserThan %><% } %>">Prev</a>
       
     <% } %>

     <% for (let i = 1; i <= totalPages; i++) { %>
       <a class="btn <%= currentPage === i ? 'active' : '' %>" href="/shop?page=<%= i %><% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %><% if (priceGreaterThan) { %>&gt=<%= priceGreaterThan %><% } %><% if (priceLesserThan) { %>&lt=<%= priceLesserThan %><% } %>"><%= i %></a>
     <% } %>

     <% if (currentPage < totalPages) { %>
       <a class="btn" href="/shop?page=<%= currentPage + 1 %><% if (selectedCategory) { %>&category=<%= selectedCategory %><% } %><% if (selectedBrand) { %>&brand=<%= selectedBrand %><% } %><% if (priceGreaterThan) { %>&gt=<%= priceGreaterThan %><% } %><% if (priceLesserThan) { %>&lt=<%= priceLesserThan %><% } %>">Next</a>
     <% } %>
   </div>

  
 </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include("../../views/partials/user/footer") %>

<script>
  function addToWishlist(productId){
    $.ajax({

      url : "/addToWishlist",
      method : "POST",
      data : {productId : productId},
      success : (response)=>{
        if(response.status){
          Swal.fire({
               title: 'Added to wishlist',
               text: 'The product has been added to wishlist',
               icon: 'success',
               timer: 2000
           });
        }else{
          Swal.fire({
               title: 'Already in wishlist',
               text: response.message,
               icon: 'info',
               timer: 2000
           });
        }
      } ,
      error : (error)=>{
        Swal.fire({
               title: 'Error',
               text: 'There is an error adding the product to your wishlist',
               icon: 'error',
               timer: 2000
           });
      }

    })
  }
</script>

